/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.overscroll-behavior-contain {
    overscroll-behavior: contain;
}
.full_view_height {
    height: 100vh;
}
.height-0 {
    height: 0px;
}
.display-inline-block-important {
    display: inline-block !important;
}
.margin-0 {
    margin: 0px;
}
.margin-0-important {
    margin: 0px !important;
}
.margin-top--1 {
    margin-top: -1px;
}
.margin-right-5 {
    margin-right: 5px;
}
.margin-right-10 {
    margin-right: 10px;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
.full-parent-width {
    width: 100%;
}
.full-parent-height {
    height: 100%;
}
.no-pointer-events {
    pointer-events: none;
}
.user-select-none {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
